.pagination {

}

.paginator {
  display: flex;
  justify-content: flex-end;

  @include e('link') {
    display: block;
    margin-bottom: 0;
    min-width: 2rem;
    height: 2rem;
    background-color: #999;
    text-align: center;
    text-decoration: none;

    &:first-child {
      border-top-left-radius: .3rem;
      border-bottom-left-radius: .3rem;
    }

    &:last-child {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }

    &:hover {
      background-color: #ccc;
    }

    @include m('active') {
      background-color: #aaa;
    }

    @include m('disabled') {
      color: #bbb;
    }
  }
}
